/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #d61336;
}

.btn-primary {
  color: #fff;
  background-color: #d61336;
  border-color: #b80f2d;
}

.btn-finish {
    color: #fff;
    background-color: #468053;
    border-color: #42794f;
}

.btn-primary:hover {
  background-color: #b80f2d;
  border-color: #9b0d27;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  color: #fff;
  background-color: #d61336;
  border-color: #b80f2d;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn.btn-primary:disabled, .btn.btn-success:disabled {
    background-color: grey;
    border-color: black;
}

#drawContainer {
    height: 800px;
    position: relative;
    width: 1200px;
}

#drawCanvas {
    height: 100%;
    width: 100%;
}

#controls {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.canvasButton {
    padding: 0;
    line-height: 24px;
    border: 0;
}