@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Team & Tournaments<br>Creation Tool</h1>
    <p>Create Your <a href="./Team">Team</a>, join <a href="./Tournament">Tournaments</a>, win!</p>
</div>